

#main ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
  padding: 20px 40px 0 50px;
}

.card {
  padding: 20px 10px 10px 10px;
  border: 2px solid black;
  border-radius: 25px;
  width: 220px;
  height: 320px;
  display: grid;
  justify-content: center;
}

img {
  width: 200px;
  height: 250px;
  object-fit: cover;
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 0 70px 0 50px;
}

#scoreboard {
  margin-top: 10px;
}